@use './../tools' as *;

.accordion{
    .accordion-item{ 
        border:none;
        border-radius: 0;
        &.border-white{
            border-bottom: 2px solid get(white);
            &:first-child{
                border-top: 2px solid get(white);
            }
            .accordion-header{
                button{
                    color: get(white);
                    &:not(.collapsed){
                        color: get(white);
                        background-image: get(gradientLTR);
                    }
                }
            }
        }
        &.border-main{
            border-bottom: 2px solid get(main);
            &:first-child{
                border-top: 2px solid get(main);
            }
            .accordion-header{
                button{
                    color: get(main);
                    &:not(.collapsed){
                        color: get(white);
                        background-color: get(main);
                    }
                }
            }
        }
        
        background-color: transparent;
        .accordion-header{
            button{
                background-color: transparent;
                padding: 30px 20px ;
                
                @extend %center-f;
                &:not(.collapsed){
                    color: white;
                    
                    &::after{
                        content: none;
                    }
                    i{
                        @include transform(rotate(180deg))
                    }
                }
                &:focus{
                    box-shadow: none;
                }
                @extend %fs-large_desktop-40;
                &::after{
                    content: none;
                }
                i{
                    @include dirs((
                        margin-left:auto
                    ));
                    
                    @include transition(transform .1s ease ) ;
                }
            }
            
        }
        .accordion-body{
            background-color: get(white);
            color: get(main);
            &__item{
                &:not(:last-of-type){
                    border-bottom: 1px solid get(main);
                }
                padding: 20px;
                &__slide{
                    width: fit-content;
                    @extend %fs-large_desktop-sm;
                    @extend %center-f;
                    margin-top: 5px;
                    &__seprator{   
                        height:3px;
                        background-image: get(gradientLTR);
                        flex-grow: 1;
                        margin: 0 20px;
                        min-width: 250px;
                    }
                }
            }
        }
    }
}