@use  './../tools' as *;

.icon-card{
    min-height: 250px;
    padding: 10px;
    //
    @extend %center-f-column-start;
    &__img{
        margin-bottom: 25px;
        img{
            //height: 60px;
            max-width: 80% !important
        }
    }
    &__text{
        p{
            @extend %fs-large_desktop-nor;
            color: get(white);
        }
    }
}
