@use "./../mixin/index" as *;
@use "./../functions/index" as *;

%center-p{
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%))
}
%center-f{
    display: flex;
    justify-content: center;
    align-items: center;
}

%center-f-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
%center-f-column-start{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
%center-f-column-end{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

%center-g{
    display: grid;
    place-items: center;
}