@use "./../tools" as *;

.where{
    background-image: url(image('Asset 38.png'));
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20px;
    &__text{
        @extend %center-f-column;
        color: get(white);
        @extend %fs-large_desktop-24;
        font-weight: 300;
        text-align: center;
        margin: 80px auto;
        width: 70%;
        @include breakpoint(tablet,max){
            width: 90%;
            margin: 20px auto;
        }
    }
    .justify-content-between{
        @include breakpoint(tablet,max){
            justify-content: start !important;
        }
    }
    &__num{
        color: get(white);
        font-weight: 300;
        @extend %fs-large_desktop-60;
        @include dirs((
            text-align: right
        ));
        @include breakpoint(tablet,max){
            text-align: center !important
        }
        @extend %fs-tablet-40;
        &__text{
            color: get(white);
            font-weight: 300;
            display: block;
            @extend %fs-large_desktop-30;
            @extend %fs-tablet-24;
            @include breakpoint(tablet,max){
                text-align: center !important
            }
        }
    }
    &-modal{
        .modal-content{
            @include borderRadius(50px);
            background-image: get(gradientLTR);
        }
    }
    &__card{
        img{
            margin-bottom: 20px ;
        }
        .color-main{
            p{
                font-weight: 600;
                line-height: 1.5;
            }
        }
    }
    .col{
        @include breakpoint(tablet,max){
            display: none;
        }
    }
}