@use  "./../tools" as *;
.who{
    min-height: 50vh;
    text-align: center;
    margin-top: 25px;
    &__first{
        background-color: get(main);
        padding: get(paddingY);
        @include breakpoint(tablet,max){
            padding: 20px;
        }
    }
    &__second{
        @include dirs((background:-webkit-linear-gradient(right,get(second-light),get(second))));
        padding: get(paddingY);
        @include breakpoint(tablet,max){
            padding: 20px;
        }
    }
    .member_meta{
        @extend %center-f;
        &_text{
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-inline-start: 15px;
            &_name{
                @extend %fs-nor;
                @extend %text-trans-cap;
                @extend %f-bold;

            }
            &_job{
                @extend %fs-sm;
                color: get(main);
            }

        }
        img{
            width: 80px;
            height: 80px;
            @include borderRadius(80px);
        }
    }
    .member_note{
        > p{
            @extend %fs-sm;
            //line-height: 2.5;
            padding: 10px 15px;
            @include dirs((
                text-align:left
            ));
        }
    }
    .owl-nav{
        .owl-prev ,.owl-next{
            position: absolute;
            top: 50%;
            @include transform(translateY(-50%));
            font-size: 25px !important;
            width: 60px;
            height: 60px;
            @include borderRadius(60px);
            @include boxShadow(1px 1px 10px 2px rgba(black,.25));
            color: get(second) !important;
            background-color: #fff !important;
            @extend %center-f;
            @include breakpoint(tablet,max){
                display: none;
            }
        }
        .owl-prev{
            @include dirs((
                left:-35px
            ));
        }
        .owl-next{
            @include dirs((
                right:-35px
            ));
        }
    }

}