@function str-split($string, $separator) {
    $i: str-index($string, $separator);
    @if not $i {
        @return null ;
    }
    $values  : (); 
    @while $i {
        $values :append($values,str-slice($string, 1, $i - 1),"comma");
        $string :str-slice($string, $i + str-length($separator));
        $i: str-index($string, $separator);
    }
    $values :append($values,$string,"comma");
    @return $values ;
;}
@function str-replace($string, $search, $replace) {
    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    @return $string;
}
@function str-between($str,$start , $end){
    $startIdx : str-index($str,$start);
    $startIdx : str-index($str,$end);
    @if  $startIdx and  $startIdx{
        @return str-slice($str,str-index($str,$start)+1 ,str-index($str,$end)-1 )
    };
    @return null;
}
