@use  "./../tools" as *;

%base-btn{
    @extend%text-trans-cap;
    @extend%text-dec-none;
    cursor: pointer;
    transition: all cubic-bezier(0.895, 0.03, 0.685, 0.22);
    @include borderRadius();
    border: none;
    outline: none;
    padding: 10px 20px;
    font-weight: 300;
    

}
.btn-main{
    @include dir{
        background: get(gradientLTR);
    }
    @include dir(rtl){
        background: get(gradientRTL);
    }
    color: get(white);
    @extend %base-btn;
    &.large{
        color: get(main);
        @extend %fs-large_desktop-xl;
        padding: .7rem 3rem;
        @include borderRadius(50px);
        
        @extend %center-g;
    }
    &:hover{
        
    }
    &.start{
        align-self: start;
    }
}
.btn-second{
    @extend %base-btn;
    &:hover{
        
    }
    &.large{
        @extend %fs-large_desktop-xl;
        padding: .5rem 1.5rem;
        @include borderRadius(7px);
        @extend %center-g;
    }
    &.outline-main{
        background-color: transparent;
        outline:1px solid get(main);
    }

    &.start{
        align-self: start;
    }
    &.border{
        &-50{
            @include borderRadius(50px);
        }
    }
    
}
.btn-social{
    background: get(main);
    border: 1px solid get(main);

    color: get(white);
    display: flex;
    align-items: center;
    @extend %base-btn;
    i{
        font-size: 1.3rem;
    }
    &.large{
        font-size: 0.75rem;
        padding: 1rem 2rem;
        @include borderRadius(50px);
        align-self: start;
    }
    &:hover{
        background: get(white);
        color: get(main);
    }
    
}

