@use  "./../tools" as *;

.side-word{
    position: absolute;
    top: 50%;
    left: 30px;
    @include transform(translateY(-50%));
    width: 150px;
    height: 100%;
    @extend %center-f;
    img{
        width: 75%;
        height: auto;

    }
}